<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserInfo</title>
</head>

<body>
    <% let count=1 %>
        <table>
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=> { %>
                    <tr>
                        <td>
                            <%= count %>
                        </td>
                        <td>
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <%= user.email %>
                        </td>
                        <td>
                            <form method="get" action="user/<%= user.id %>/edit">
                                <button>Edit</button>
                            </form>
                        </td>

                    </tr>
                    <% count=count + 1}); %>
            </tbody>
        </table>

</body>

</html>